absl-py
aiohappyeyeballs
aiohttp
aiosignal
astunparse
async-timeout
attrs
blinker
Brotli
cached-property
cachetools
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
contourpy
cryptography
cycler
decorator
filelock
flatbuffers
fonttools
frozenlist
fsspec
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h2
h5py
hpack
humanfriendly
hyperframe
idna
imageio
importlib_metadata
Jinja2
joblib
kiwisolver
lazy_loader
libclang
Markdown
MarkupSafe
matplotlib
mne
mpmath
multidict
munkres
networkx
numpy
oauthlib
onnx
onnxruntime
onnxruntime-gpu
opt_einsum
packaging
pandas==2.3.1
patsy
pillow
pip
platformdirs
pooch
prettytable
propcache
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
pyparsing
PyQt5
PyQt5-sip
pyreadline3
PySocks
python-dateutil
pytz
pyu2f
PyYAML
requests
requests-oauthlib
rsa
scikit-image
scikit-learn
scipy
seaborn
setuptools
sip
six
soundfile
statsmodels
sympy
tensorflow==2.10.0
keras
tensorboard
termcolor
tf2onnx
threadpoolctl
tifffile
toml
tornado
tqdm
typing_extensions
tzdata
unicodedata2
urllib3
wcwidth
Werkzeug
wfdb==4.3.0
wheel
win_inet_pton
wrapt
yarl
zipp
zstandard
